/*bd_view*/
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    overflow-x: auto; /* Enable horizontal scrolling on small screens */
}
th, td {
    padding: 1rem;
    border: 1px solid #ddd; /* 각 셀에 보더 추가 */
    text-align: left;
	white-space: nowrap; /* Prevent text wrapping in cells */
}

/* 헤더와 마지막 행 스타일링 */
thead th {
    background-color: #f2f2f2; /* 배경색 추가 */
}

tbody tr:last-child th,
tbody tr:last-child td {
    border-bottom: 0; /* 마지막 행의 아래 테두리 제거 */
}

/* 좌측 고정 헤더 스타일 */
thead th
tbody th {
    position: sticky;
    left: 0;
    background-color: #fff; /* 배경색 추가 */
}

.tb_title {
    min-width: 7rem; /* Adjusted for responsiveness */
}

/* 특정 열의 최소 너비 조정 */
.tb_title {
    max-width: 30rem;
}
.tb_write {
    max-width: 20rem;
}


.reg_btn{
	box-shadow: 0px 8px 6px -6px #666;
	border: 6px solid  #2F2F2F; /* 반투명한 검정색 border */
	position: fixed;
	width: 150px;
	height: 60px;
    background-color: #333;
    color: #fff;
    padding: 10px;
	right: 50px;
	bottom: 50px;
	border-radius: 100px;
	font-size: 17.5px;
	font-weight: bold;
	z-index: 9999; /* 최상위로 설정할 z-index 값 */
}


#prevBtn, #nextBtn {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
	margin: 0px 15px;
}

#prevBtn:active, #nextBtn:active {
	background: #ddd;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;


}
#pagination{
	display: flex;
	justify-content: center;
	margin-bottom: 1rem; /* Space below pagination */
}



table {
	border: 1px solid #aaa;
	
}

input[type="text"], textarea {
    font-size: 15px;
    border: 1.5px #aaa solid;
    border-radius: 5px;
    padding: 10px;
    width: 100%; /* Take full width on small screens */
    max-width: 100%; /* Ensure they don't overflow */
    resize: vertical; /* Allow vertical resizing for textarea */
    margin-bottom: 1rem; /* Space below inputs */
	resize: none;
	outline: none;
}
.readinput {
	font-size: 15px;
	border: 0px;
	outline: none;
}

textarea {
    height: 500px;
}
/* 헤더 스타일 */
.header {
    height: 50px; /* 높이 */
    line-height: 50px; /* 세로 가운데 정렬 */
    text-align: center; /* 가운데 정렬 */
    background-color: #f2f2f2; /* 배경색 */

}
.gray_btn {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
	margin: 0px 5px;
    border-radius: 5px;
}

.gray_btn:active {
	background: #ddd;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
}
.write_table_area{
	background: #fff;
    
}
.button-container{
	display: flex;
	padding: 0px 20px;
	justify-content: space-between;
}


/*모바일 전용 사이드 바 CSS */
@media only screen and (max-width: 1000px) {
	input[type="text"], textarea {
		font-size: 1.2em;
	}

	.gray_btn, .gray_btn:active {
		width: 175px;
		height: 80px;
		font-size: 1.6rem;
		border-radius: 15px;
	}

	.button-container{
		display: flex;
		padding: 0px 20px;
		justify-content: space-around;
	}
}
