/*star*/
.star_btn {
    border: 2px solid rgba(0, 0, 0, 0.1); /* 반투명한 검정색 border */
    width: 105px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 20px;
}

.star_btn_long {
    width: 100%; /* Full width for responsive behavior */
    max-width: 425px; /* Maximum width */
}

.star_btn:active {
    background: #ddd;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
}

/*multiply*/
.multiply_input {
    border: 2px solid rgba(0, 0, 0, 0.1); /* 반투명한 검정색 border */
    width: 115px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 25px;
    padding-left: 10px;
}

.multiply_input_long {
    width: 100%; /* Full width for responsive behavior */
    max-width: 290px; /* Maximum width */
}

.multiply_input_wave {
    margin-right: 20px;
    display: inline;
}

/*tab*/

.tab_con_view {
    width: 100%;
    /* max-width: calc(100vw - 12.5em); */ /* 레이어 뷰 영역 최대 사이즈 지정 CSS */
    height: auto;
    display: none; 
}

.tab_img_view {
    width: 100%;
    /* max-width: calc(100vw - 12.5em); */ /* 레이어 뷰 영역 최대 사이즈 지정 CSS */
    height: 300px;
}

.tab_project_img {
    width: 100%;
    max-width: calc(100vw - 12.5em); /* Adjust max-width based on viewport */
}


.tab_btn {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 1); /* 반투명한 검정색 border */
    width: 125px;
    height: 60px;
    background: #fff;
    font-weight: normal; /* 기본 폰트 굵기 */
    font-size: 15px;
    border-radius: 0px;
    margin: 2px;
}

.tab_btn.active {
    color: tomato;
    font-weight: bold; /* 활성화된 버튼의 폰트 굵기 */
    border-bottom-color: tomato; /* 활성화된 버튼의 바텀 보더 색상 */
}

/*pop*/
.pop_con_view {
    display: block;
    width: 100%;
    max-width: calc(100vw - 5em); /* Adjust max-width based on viewport */
    height: auto;
}

.pop_btn_area {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust as per your layout needs */
    align-items: center; /* Align items vertically */
}

.pop_btn {
    border: 0;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
    cursor: pointer;
    width: 100%;
    max-width: calc(100vw - 1.5em); /* Adjust max-width based on viewport */
    margin: 0px 20px;
    height: auto;
}

.pop_img {
    width: 100%; /* Ensure the image fills its container */
    height: 100%; /* Ensure the image fills its container */
    display: block; /* Ensures any extra space due to aspect ratio is respected */
    object-fit: cover; /* Crop the image to cover the entire container */
}
/* Optional: CSS for hiding popup initially */
.popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
	z-index: 999;
}

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border: 1px solid #ccc;
	z-index: 1000;
	max-width: 60%;
	max-height: 90%;
    overflow: auto; /* Hide scrollbars */
}

.popup-close {
	position: absolute;
	top: 20px;
	right: 40px;
	font-size: 70px; 
	cursor: pointer;
	color: white;
}

/*popupInput*/
.popup_input {
    width: 100%; /* Full width for responsive behavior */
    max-width: 290px; /* Maximum width */
    font-size: 15px;
    margin-bottom: 20px;
}


/*comment*/
.comment_img {
    width: 80%;
}

.commont {
    padding: 30px 0px;
}

.comment_area {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 1); /* 반투명한 검정색 border */
    width: 100%;
    max-width: 125px; /* Maximum width */
    height: 60px;
    background: #fff;
    font-weight: normal; /* 기본 폰트 굵기 */
    font-size: 15px;
    border-radius: 0px;
    margin: 2px;
}

/*모바일 전용 사이드 바 CSS */
@media only screen and (max-width: 1000px) {

	.tab_btn_area{
		display: flex;
		flex-direction: row;
		justify-content: space-between; /* Adjust as per your layout needs */
		align-items: center; /* Align items vertically */
	}

	.tab_btn {
		font-size: 1.4rem;
		width: 155px;
		height: 80px;
		margin: 2px;
	}
	.star_btn {
		border: 2px solid rgba(0, 0, 0, 0.1); /* 반투명한 검정색 border */
		width: 175px;
		height: 80px;
		font-size: 1.6rem;
		border-radius: 5px;
		margin: 0px 0px 20px 20px;

	}
	.star_btn_long {
		width: 100%; /* Full width for responsive behavior */
		max-width: 490px; /* Maximum width */
	}

	.star_btn:active {
		background: #ddd;
		font-size: 1.6rem;
		border: 0;
		border-radius: 5px;
	}
	.multiply_input {
		width: 105px;
		height: 80px;
		border-radius: 5px;
		font-size: 2.5rem;
		padding-left: 10px;
	}

	.multiply_input_long {
		width: 100%; /* Full width for responsive behavior */
		max-width: 280px; /* Maximum width */
	}
	.comment_img {
		width: 100%;
	}
	.popup {
		max-width: 75%;

	}

}