/*star*/
.star_con_area{
	height: 500px;

}

.star_btn {
	border: 2px solid rgba(0, 0, 0, 0.1); /* 반투명한 검정색 border */
    width: 105px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
	margin-right: 20px; 
}

.star_btn_long {
	width: 435px;
}

.star_btn:active {
	background: #ddd;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
}

/*multiply*/
.multiply_input{
	border: 2px solid rgba(0, 0, 0, 0.1); /* 반투명한 검정색 border */
    width: 105px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
	margin-right: 20px;
	font-size:25px;
	padding-left: 10px;
}

.multiply_input_long{
    width: 290px;
}
.multiply_input_wave{
	margin-right: 20px; 
	display: inline;
}
/*tab*/
.tab_con_area{
	height: auto;
	width: auto;
}

.tab_con_view{
	width: calc(100vh - 12.5em);
	height: auto;
	display: none; /* 기본적으로 모든 tab_content는 숨김 */
}
.tab_img_view{
	width: calc(100vh - 12.5em);
	height: 300px;
}
.tab_project_img{
	width: calc(100vh - 12.5em);
	
}
.tab_menu{
	
}

.tab_btn{
	border:0;
	border-bottom: 2px solid rgba(0, 0, 0, 1); /* 반투명한 검정색 border */
    width: 125px;
    height: 60px;
	background: #fff;
	font-weight: normal; /* 기본 폰트 굵기 */
    font-size: 15px;
    border-radius: 0px;
	margin: 2px; 

}

.tab_btn.active {
	color: tomato;
	font-weight: bold; /* 활성화된 버튼의 폰트 굵기 */
    border-bottom-color: tomato; /* 활성화된 버튼의 바텀 보더 색상 */
}


/*pop*/
.pop_con_area {
	height: auto;

}
.pop_con_view{
	display: block;
	width: calc(163.5vh - 5em);
	height: auto;
}
.pop_btn_area {
    display: flex;
	flex-direction: column;
    justify-content: space-between; /* Adjust as per your layout needs */
    align-items: center; /* Align items vertically */
    
}

.pop_btn {
    border: 0;
    background: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
    cursor: pointer;
	width: calc(165.5vh - 1.5em);
	margin: 0px 20px;
	height:500px;
}

.pop_img {
    width: 100%; /* Ensure the image fills its container */
    height: 100%; /* Ensure the image fills its container */
    display: block; /* Ensures any extra space due to aspect ratio is respected */
    object-fit: cover; /* Crop the image to cover the entire container */
}

/* Optional: CSS for hiding popup initially */
.popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
	z-index: 999;
}

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border: 1px solid #ccc;
	z-index: 1000;
	max-width: 45%;
	max-height: 90%;
    overflow: auto; /* Hide scrollbars */
}

.popup-close {
	position: absolute;
	top: 20px;
	right: 40px;
	font-size: 70px; 
	cursor: pointer;
	color: white;
}

/*popupInput*/
.popup_input{
	width: calc(100vh - 16em);
	font-size: 15px;
	margin-bottom: 20px;
}
.pop_input_img{
	height: auto;
}

/*comment*/
.comment_img{
	width: 50%;
}
.commont{
	margin: 30px 0px;
}
