/*bd*/
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
	overflow-x: hidden;

}
/* Make all headings responsive */
h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

/* Adjust paragraph font size */
p1 {
    font-size: 1rem;
}

/* Ensure images are responsive */
img {
    max-width: 100%;
    height: auto;
}

/* Ensure links are styled properly */
a {
    text-decoration: none;
    color: black;
}


.main_logo_a{
	text-decoration-line: none;
	color: black;
}

.title {
	margin: 10px;
}
.message {
    margin: 20px 0px;
}
.message_noti{
	font-size: 18px;

}

#main {  
    display: flex;
	

}

.main_content_div {
    max-width: 100%;
}

#main_nav_area{
	display: block;
    margin: 30px;
}
#main_nav_area .main_nav_menu {
    text-decoration: none;
    padding: 5px 20px;
	color: #000;
}

.main_nav_menu_btn {
	border: 0;
	font-size: 15px;
	background-color: transparent;
}

/*모바일 전용 네비바 PC 사이즈에서 가리기*/
#mobile_side_nav_area, #mobile_main_nav_area {
	display: none;
}

#main_side_nav_area {
	min-height: 100vh;
	height: auto;
	display: block;
	width: 300px;
    background-color: #333;
    color: #fff;
    padding: 20px;
	display: flex; /* Flexbox 레이아웃을 사용합니다 */
    align-items: center; /* 세로 방향 중앙 정렬 */
	flex-direction: column;
}


.accordion {
	display: block;
	background-color: #444;
    border-radius: 5px;
    padding: 20px;
	margin: 10px 0px ;
    resize: none;
	color: #fff;
}

#main_side_nav_area .l_menu_a {
	width: 200px;
    display: none;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}


#main_side_nav_area .l_menu_a:hover {
    background-color: #555;
}


.s_menu {
	display: flex;
	justify-content: center;
	flex-direction: column;
    border: 1.5px solid rgba(0, 0, 0, 0.1); /* 반투명한 검정색 border */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7); /* 그림자 설정 */
	background-color: #222;
    border-radius: 5px;
    padding: 20px;
	margin: 10px 0px ;
    resize: none;
	display: none;
}
.s_menu, .l_menu_a, .accordion{
	display: none;
	cursor: pointer; /* 기본 마우스 커서를 포인터로 설정 */
}
.s_menu_a{
	
    display: block;
    color: #fff;
    padding: 10px 10px;
}
.s_menu_a:hover {
    background-color: #555;
}

#main_side_nav_area .message {
	width: 200px;
    text-decoration: none;
    padding: 10px 20px;
}



#main_con_area {
    width:100%;
	background-color: #fff;
    padding: 20px;

}
#main_con_area_notis {
	display: flex;
	flex-direction: column;
	
}
.main_con_area_noti {
    border: 1.5px solid rgba(0, 0, 0, 0.1); /* 반투명한 검정색 border */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
    width:100%;
    height: 300px;
    border-radius: 5px;
    padding: 50px 40px;
    margin-bottom: 50px;
	height:100%;
}
.main_con_area_img {
    border: 1.5px solid rgba(0, 0, 0, 0.1); /* 반투명한 검정색 border */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
    border-radius: 5px;
    overflow: hidden; /* 부모 요소를 넘어가는 내용을 숨깁니다 */
    margin-bottom: 20px;
    display: flex; /* Flexbox 레이아웃을 사용합니다 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
}

.main_con_area_img .accordion_menu {
    object-fit: cover; /* 이미지가 부모 요소에 맞게 크롭되도록 cover 옵션을 사용합니다 */
}

.main_con_area_noti,
.main_con_area_img {
    width: 100%; /* Take full width */
    max-width: 100%; /* Max width */
    margin-bottom: 20px; /* Space between sections */
	
}

.main_con_area_noti {
    padding: 20px; /* Padding for content */
}


/*모바일 전용 사이드 바 CSS */
@media only screen and (max-width: 1000px) {
	/*bd*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	/*PC 전용 네비바 모바일 사이즈에서 가리기*/
	#main_side_nav_area, #main_nav_area{
		display:none;
	}

	#mobile_main_nav_area{
		display:block;
		padding: 30px;
		
	}
	
	.main_logo_a {
		margin-bottom: 10px 0px;
		font-size: 3.5rem;
	}

	/*메인 메뉴바 메뉴 속성 설정(프론트, 백엔드, 메일, 결재)*/
	#mobile_main_nav_area .main_nav_menu {
		text-decoration: none;
		padding: 5px 20px;
		color: #000;
		font-size: 1.55rem;
	}


	#mobile_side_nav_area{
		display: block;
		width: 100%;
		height: auto;
		display: block;
		background-color: #333;
		color: #fff;
		padding: 20px;
	}

	.clickmenu{
		display: none;
	}
		

	.s_menu, .l_menu_a, .accordion{

	}
	.s_menu_a{

	}
	.s_menu_a:hover {

	}
	.accordion {

	}

	#mobile_side_nav_area .l_menu_a {
		width: auto;
		display: none;
		color: #fff;
		text-decoration: none;
		padding: 10px 10px;
	}
	

	#mobile_side_nav_area .l_menu_a:hover {
		background-color: #555;
	}
	/* Make all headings responsive */
	h2 {
		font-size: 2rem;
		
	}

	/* Adjust paragraph font size */
	p1 {
		font-size: 1.5rem;
	}

	/* Ensure links are styled properly */
	a, h5, div {
		text-decoration: none;
		color: black;
		font-size: 1.6rem;
	}
	.message_noti{
		font-size: 1.6rem;

	}

}