table {
	border: 1px solid #aaa;
	
}

input[type="text"] {
	font-size: 15px;
    border: 1.5px #aaa solid;
    width: 800px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
	outline: none;
}
.readinput {
	font-size: 15px;
	border: 0px;
	outline: none;
}

textarea {
    border: 1.5px #aaa solid;
    width: 800px;
    height: 500px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
	outline: none;
}
/* 헤더 스타일 */
.header {
    height: 50px; /* 높이 */
    line-height: 50px; /* 세로 가운데 정렬 */
    text-align: center; /* 가운데 정렬 */
    background-color: #f2f2f2; /* 배경색 */

}
.gray_btn {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
	margin: 0px 5px;
    border-radius: 5px;
}

.gray_btn:active {
	background: #ddd;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
}
.write_table_area{
	background: #fff;
    
}
.button-container{
	display: flex;
	padding: 0px 20px;
	justify-content: space-between;
}
