/*bd*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
	padding-top: 10px;
	overflow-x: hidden;
}

.main_logo_a{
	text-decoration-line: none;
	color: black;
}

.title {
	margin: 10px;
}
.message {
    margin: 20px 0px;
}
.message_noti{
	font-size: 18px;

}

/*bd_list*/

#main {  
    display: flex;
	width: 100vh;
	height: 100v
   
}
#main_nav_area{
    margin: 30px;
}
#main_nav_area .main_nav_menu {
    text-decoration: none;
    padding: 10px 20px;
	color: #000;
}


#main_side_nav_area {
	height: auto;
	display: block;
	width: 240px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.accordion {
	display: block;
	background-color: #444;
    border-radius: 5px;
    padding: 20px;
	margin: 10px 20px 10px 0px;
    resize: none;
}

#main_side_nav_area .l_menu_a {
	width: 180px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}

#main_side_nav_area .l_menu_a:hover {
    background-color: #555;
}
.s_menu_a{
	width: 150px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}
.s_menu_a:hover {
    background-color: #555;
}

#main_side_nav_area .message {
	width: 200px;
    text-decoration: none;
    padding: 10px 20px;
}

 #main_side_nav_area div {
    padding-left: 20px; /* Add some padding for indentation */
  }
.s_menu {
	border: 0.5px black solid;
	background-color: #222;
    border-radius: 5px;
    padding: 20px;
	margin: 10px 20px 10px 0px;
    resize: none;
	display: none; /* Hide all submenu initially */
}

#main_con_area {
    background-color: #fff;
    padding: 20px;
}
#main_con_area_notis {
	display: flex;
	flex-direction: row;
}
.main_con_area_noti{
	border: 1.5px black solid;
    width: 360px;
    height: 400px;
    border-radius: 5px;
    padding: 50px 20px;
	margin-right: 20px;
    resize: none;
}
.main_con_area_img {
    border: 1.5px black solid;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden; /* 부모 요소를 넘어가는 내용을 숨깁니다 */
    margin-right: 20px;
    display: flex; /* Flexbox 레이아웃을 사용합니다 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
}

.main_con_area_img img {
    width: 510px; /* 이미지의 너비를 100%로 설정하여 부모 요소에 맞춥니다 */
    height: 510px; /* 높이를 자동으로 조정하여 비율을 유지합니다 */
    object-fit: cover; /* 이미지가 부모 요소에 맞게 크롭되도록 cover 옵션을 사용합니다 */
}



/*bd_view*/
/*참고문헌: 
https://inpa.tistory.com/entry/CSS-%F0%9F%92%8D-%ED%85%8C%EC%9D%B4%EB%B8%94table-%EB%94%94%EC%9E%90%EC%9D%B8-%F0%9F%96%8C%EF%B8%8F-%EB%AA%A8%EC%9D%8C
*/

table {
	border-collapse: collapse;
	/*border: 0;*/
	border: 1px solid #aaa;
}
th,
td {
	border: 1px solid #aaa;
	background-clip: padding-box;

}
tbody tr:last-child th,
tbody tr:last-child td {
	border-bottom: 0;
}

th,
td {
	padding: 0.6rem;
	min-width: 6rem;
	text-align: left;
	margin: 0;
}


tbody th {
	background-clip: padding-box;
	border-left: 0;
}
tbody {
	z-index: 10;
	position: relative;
}
tbody th {
	position: sticky;
	left: 0;
}
thead th,
tbody th {
	background-color: #f8f8f8;
}
.reg_btn{
	position: fixed;
	width: 150px;
	height: 60px;
    background-color: #333;
    color: #fff;
    padding: 10px;
	right: 50px;
	bottom: 50px;
	border-radius: 100px;
	font-size: 20px;
	font-weight: bold;
}


